/** @format */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: 45% 55%;

  padding: 20px;
  height: 100vh;
}

.part1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 100%;
  border-radius: 10px;
  padding: 20px;

  background-color: #00006b;
  color: white;
}

.part1 > img {
  width: 42%;
  border-radius: 15px;
}

.part1 > h1 {
  width: 100%;
  font-weight: 600;
  padding: 5px 5px 0px 20%;
  margin-bottom: 0px;
}

.design {
  width: 150px;
}

.design > img {
  width: 100%;
}

.feature {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-evenly;
}

.feature img {
  width: 40px;
}

.part2 {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.part2 > img {
  width: 32%;
  border-radius: 15px;
}

.sign-up {
  color: #575757;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

form {
  width: 100%;
}

.sign-up input {
  width: 100%;
  background-color: #f7f7f9;
  color: #575757;
}

.sign-up label {
  font-size: 10px;
}

.sign-btn {
  width: 100%;
  background-color: #00006b;
}

.sign-up p {
  text-align: center;
}

p > span {
  color: #00006b;
  font-weight: 700;
}

@media (max-width: 820px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
}
